<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GesLineas.My.MySettings.produccionSqlConnectionString"
            connectionString="Data Source=PORTATIL-ASUS\sqlexpress;Initial Catalog=produccionSql3;Persist Security Info=True;User ID=sa;Password=A56dA2W14"
            providerName="System.Data.SqlClient" />
        <add name="GesLineas.My.MySettings.datosConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\almacen\Almacen\prog\bases\AceitesSQL\datos.mde;Persist Security Info=True;Jet OLEDB:Database Password=77"
            providerName="System.Data.OleDb" />
        <add name="GesLineas.My.MySettings.MANTENIMIENTOConnectionString"
            connectionString="Data Source=192.168.1.37;Initial Catalog=MANTENIMIENTO;User ID=sa;Password=A56dA2W14"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
