<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GesLineas.My.MySettings.produccionSqlConnectionString"
            connectionString="Data Source=vwserver;Initial Catalog=produccionSql3;Persist Security Info=True;User ID=sa;Password=A56dA2W14"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
